
@keyframes webforall {
    form { 
        transform: translateX(0vw);
    }

    to {
        transform: translateX(12vw);
    }
}


@keyframes contact {
    from {
        transform: translateX(0vw);
    }

    to {
        transform: translateX(82vw);
    }
}



* {
    font-family: "Google Sans Flex", sans-serif;
    background-color: rgb(3, 6, 32);
    scroll-behavior: smooth;
}

.main 
{
    display: flex;
    flex-wrap: wrap;
}




                                                          /* LAYOUT */
.layout 
{ /* AQUI ESTAMOS A INFORMAR QUE HÁ UM CLASS = table-content  */
    height: 4.5vh; /* 100% VIEW PORT */
    width: 15vw; 
    position: fixed;
    background-color:aliceblue;
    border-radius: 50px;
    /*right: 2vw;*/
    animation: contact 2s 0.1s forwards;
    
    
}

 .git {
    background-color: aliceblue;
    scale: 0.8;
    max-height: 5.1vh;
    margin-top: -0.3vh;
    margin-left: 4.9vw;
 }

 .link {
    background-color: aliceblue;  
    height: 3vh;
    margin-left: 1vw;
    margin-bottom: 0.9vh; 
    scale: 1.4;
 }
 

  .layout a {
    background-color: aliceblue;
    font-size: 0;
    text-decoration: none;
 }

                                                         /* CONTENT */


 .content { 
    height: 100%;
    width: 100%;
    overflow: hidden;  /*bug aparecia scroll bar*/
}

.main1 h1 {
    /* margin-left: 12vw; */
    margin-top: 10vh;
    font-size: 65px;
    color: snow;
    animation: webforall 2s 0.1s forwards  ; /* Funciona bem melhor que animation-name etc */
}

.main1 p {
    margin-left: 13vw;
    margin-top: -1em ;
    margin-right: 3vw;
    color: rgb(207, 215, 225);
    font-weight: 200;
}

.content hr {
    margin-left: 13vw;
    margin-right: 5vw;
    margin-top: 3vh;
    border-color: rgba(104, 104, 104, 0.438);
    
}

.conteúdo {
    margin-left: 13vw;
    margin-top: 5vh;
    font-size: 38px;
    font-weight: 400;
    color: snow;
}

.content ul, pre, a {
    list-style-type: none;
    color: rgb(96, 165, 250);
    text-decoration-color: rgb(96, 165, 250);
    font-weight: 200;
}

.content pre {
    margin-left: 11vw;
}

#ww2 {
    margin-left: 13vw;
    margin-top: 5vh;
    font-size: 38px;
    font-weight: 400;
    color: snow;
}

#Enigma {
    margin-left: 15vw;
    margin-top: -2vh;
    font-size: 30px;
    font-weight: 200;
    color: snow;
}

.main2 p {
    margin-left: 15vw;
    margin-top: -1em ;
    margin-right: 3vw;
    color: rgb(207, 215, 225);
    font-weight: 200;
    line-height: 26px;
}

#Bletchley {
    margin-left: 15vw;
    margin-top: 2vh;
    font-size: 30px;
    font-weight: 200;
    color: snow;
}

#ARPANET {
    margin-left: 13vw;
    margin-top: 5vh;
    font-size: 38px;
    font-weight: 400;
    color: snow;
}

#TIM {
    margin-left: 13vw;
    margin-top: 5vh;
    font-size: 38px;
    font-weight: 400;
    color: snow;
}

#NAVEGADORES {
    margin-left: 13vw;
    margin-top: 5vh;
    font-size: 38px;
    font-weight: 400;
    color: snow;
    
}

#WEB {
    margin-left: 13vw;
    margin-top: 5vh;
    font-size: 38px;
    font-weight: 400;
    color: snow;
    
}

#Tec {
    margin-left: 13vw;
    margin-top: 5vh;
    font-size: 38px;
    font-weight: 400;
    color: snow;
    
}

#duv {
    margin-left: 13vw;
    margin-top: 5vh;
    font-size: 38px;
    font-weight: 400;
    color: snow;
}

#dom {
    margin-left: 15vw;
    margin-top: 2vh;
    font-size: 30px;
    font-weight: 200;
    color: snow;
}


#hospedagem {
    margin-left: 15vw;
    margin-top: 2vh;
    font-size: 30px;
    font-weight: 200;
    color: snow;
}


footer a {
    color: rgb(146, 153, 164);
    text-decoration-color: rgb(146, 153, 164);
    position: relative;
    left: 11vw;
    top: 5vh;
    list-style-type: none;
    font-size: 16px;
    font-weight: 100;
    text-decoration: none;
}

.copyright {
    margin-top: 18vh;
    text-align: center;
    font-size: 40px;
}


@media screen and (max-width: 576px) {

    .layout {
     /* 100% VIEW PORT */ 
    width: 128px; /* PÍXEIS É MELHOR POIS POR SER UMA UNIDADE FIXA NÃO ALTERA O TAMANHO DA IMAGEM */
    left: -80px;
    }

    .git {
        margin-left: 23px;
    }


    .main1 h1 {
        font-size: 30px;
        margin-top: 7vh;
        font-weight: 200;
    }

    .main1 p {
        font-size: 11px;
        font-weight: 150;
        line-height: 20px;
    }

    .conteúdo {
        font-size: 25px;
        font-weight: 200;
    }

    .content ul, pre, a {
        font-weight: 200;
        font-size: 11px;
    }

    .content pre {
        text-indent: -15px; /* GOAT STUFF */
        white-space: pre-wrap; /* GOAT STUFF */
    }
    
    #ww2, #ARPANET, #TIM, #NAVEGADORES, #WEB, #Tec, #duv {
        font-size: 25px;
        font-weight: 200;
    }

    #Enigma, #Bletchley, #dom, #hospedagem {
        font-size: 20px;
        margin-top: 1vh;
        font-weight: 100;
    }

    .main2 p {
        font-size: 11px;
        font-weight: 150;
        line-height: 20px;
    }

    footer a {
        margin-left: -25px;
        font-size: 11px;
    }

    .copyright {
        font-size: 10px;
    }
}


@media screen and (min-width: 577px) and (max-width: 800px) {

.layout {
     /* 100% VIEW PORT */ 
    width: 128px; /* PÍXEIS É MELHOR POIS POR SER UMA UNIDADE FIXA NÃO ALTERA O TAMANHO DA IMAGEM */
    left: -80px;
    }

    .git {
        margin-left: 23px;
    }


    .main1 h1 {
        font-size: 30px;
        margin-top: 7vh;
        font-weight: 200;
    }

    .main1 p {
        font-size: 11px;
        font-weight: 150;
        line-height: 20px;
    }

    .conteúdo {
        font-size: 25px;
        font-weight: 200;
    }

    .content ul, pre, a {
        font-weight: 200;
        font-size: 11px;
    }
    .content pre {
        text-indent: -15px;
        white-space: pre-wrap;
    }
    
    #ww2, #ARPANET, #TIM, #NAVEGADORES, #WEB, #Tec, #duv {
        font-size: 25px;
        font-weight: 200;
    }

    #Enigma, #Bletchley, #dom, #hospedagem {
        font-size: 20px;
        margin-top: 1vh;
        font-weight: 100;
    }

    .main2 p {
        font-size: 11px;
        font-weight: 150;
        line-height: 20px;
    }

    footer a {
        margin-left: -25px;
        font-size: 11px;
    }

    .copyright {
        font-size: 10px;
    }
}


@media screen and (min-width: 801px) {
    .layout {
     /* 100% VIEW PORT */ 
    width: 128px; /* PÍXEIS É MELHOR POIS POR SER UMA UNIDADE FIXA NÃO ALTERA O TAMANHO DA IMAGEM */
    left: -80px;
    }

    .git {
        margin-left: 23px;
    }


    .main1 h1 {
        font-size: 30px;
        margin-top: 7vh;
        font-weight: 200;
    }

    .main1 p {
        font-size: 11px;
        font-weight: 150;
        line-height: 20px;
    }

    .conteúdo {
        font-size: 25px;
        font-weight: 200;
    }

    .content ul, pre, a {
        font-weight: 200;
        font-size: 11px;
        
    }
    .content pre {
        text-indent: -15px;
        white-space: pre-wrap;
    }
    
    #ww2, #ARPANET, #TIM, #NAVEGADORES, #WEB, #Tec, #duv {
        font-size: 25px;
        font-weight: 200;
    }

    #Enigma, #Bletchley, #dom, #hospedagem {
        font-size: 20px;
        margin-top: 1vh;
        font-weight: 100;
    }

    .main2 p {
        font-size: 11px;
        font-weight: 150;
        line-height: 20px;
    }

    footer a {
        margin-left: -25px;
        font-size: 11px;
    }

    .copyright {
        font-size: 10px;
    } 
    
}
