* {
    font-family: "Google Sans Flex", sans-serif;
}

.main {
    display: flex;
    flex-wrap: wrap;
}

.table-contents { /* AQUI ESTAMOS A INFORMAR QUE HÁ UM CLASS = table-content  */
    height: 100vh; /* 100% VIEW PORT */
    width: 20%;
    border-right: solid; /* MANEIRA DE CRIAR UMA BORDA COM APENAS UMA LINHA */
    border-width: 1px;     
}


 .content { 
    height: 100vh; 
    width: 75%;
}


 .content h1 { /* DENTRO DA CLASS = CONTENT HÁ UM <H1> */
    text-align: center;
    font-size: 50px;
}

.content h3 {
    text-indent: 40px;
    position: relative;
    top: 50px;
    font-weight: 700;
    font-size: 30px;

}

.content hr {
    position: relative;
    top: 25px;
    height: 5px;
    background-color: rgb(32, 110, 37);
    border-style: none;
}

 .content pre {
    position: relative;
    display: inline;
    top: 20px;
    left: 60px;
    font-weight: 350;
 }

  










 .table-contents a {
    position: relative;
    top: 170px;
    text-decoration: none;
    color: black;
    line-height: 25px;
 }

 .table-contents ul {
    list-style-type: none; /* USADO PARA REMOVER O PONTO NO INICIO DA LISTA */
 }

