* {
    font-family: "Google Sans Flex", sans-serif;
    background-color: rgb(3, 6, 32);
    scroll-behavior: smooth;
    
}

.main 
{
    display: flex;
    flex-wrap: wrap;
}




                                                          /* LAYOUT */
.layout 
{ /* AQUI ESTAMOS A INFORMAR QUE HÁ UM CLASS = table-content  */
    height: 7vh; /* 100% VIEW PORT */
    width: 98vw;
    position: fixed;
    background-color: rgb(0, 0, 0);
    border-radius: 50px;
}

 .layout pre {
    background-color: rgb(0, 0, 0);
    margin-left: 40%;
    margin-top: 2vh;
    color: snow;
    font-size: 20px;
 }

                                                         /* CONTENT */


 .content { 
    height: 1000cm;
    width: 100vw;
}

.main1 h1 {
    margin-left: 12vw;
    margin-top: 10vh;
    font-size: 65px;
    color: snow;
}

.main1 p {
    margin-left: 13vw;
    margin-top: -1em ;
    margin-right: 3vw;
    color: rgb(207, 215, 225);
    font-weight: 200;
}

.content hr {
    margin-left: 13vw;
    margin-right: 5vw;
    margin-top: 3vh;
    border-color: rgba(104, 104, 104, 0.438);
    
}

.conteúdo {
    margin-left: 13vw;
    margin-top: 5vh;
    font-size: 38px;
    font-weight: 400;
    color: snow;
}

.content ul, pre, a {
    list-style-type: none;
    color: rgb(96, 165, 250);
    text-decoration-color: rgb(96, 165, 250);
    font-weight: 200;
}

.content pre {
    margin-left: 11vw;
}

#ww2 {
    margin-left: 13vw;
    margin-top: 5vh;
    font-size: 38px;
    font-weight: 400;
    color: snow;
}

#Enigma {
    margin-left: 15vw;
    margin-top: -2vh;
    font-size: 30px;
    font-weight: 200;
    color: snow;
}

.main2 p {
    margin-left: 15vw;
    margin-top: -1em ;
    margin-right: 3vw;
    color: rgb(207, 215, 225);
    font-weight: 200;
    line-height: 26px;
}

#Bletchley {
    margin-left: 15vw;
    margin-top: 2vh;
    font-size: 30px;
    font-weight: 200;
    color: snow;
}

#arpa {
    margin-left: 13vw;
    margin-top: 5vh;
    font-size: 38px;
    font-weight: 400;
    color: snow;
}

#www {
    margin-left: 13vw;
    margin-top: 5vh;
    font-size: 38px;
    font-weight: 400;
    color: snow;
}

#browsers {
    margin-left: 13vw;
    margin-top: 5vh;
    font-size: 38px;
    font-weight: 400;
    color: snow;
    
}

#websites {
    margin-left: 13vw;
    margin-top: 5vh;
    font-size: 38px;
    font-weight: 400;
    color: snow;
    
}

#htmlcss {
    margin-left: 13vw;
    margin-top: 5vh;
    font-size: 38px;
    font-weight: 400;
    color: snow;
    
}